# Virtual environment
venv/
env/
.venv/
frontend/node_modules/
frontend/dist/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyd

# Temporary & cache data
data/uploads/*
!data/uploads/.gitkeep
data/extracted/*
!data/extracted/.gitkeep
data/images/*
!data/images/.gitkeep
data/pages/*
!data/pages/.gitkeep
data/training_data/
data/.cache/
*.zip
evaluation/
runs/
model/

# Ultralytics & model cache
*.pt
*.safetensors
*.bin
*.onnx


# Environment variables & keys
.env
*.env.local

# Operating System files
.DS_Store
Thumbs.db

